[submodule ".vim/pack/dfranklinau/start/editorconfig-vim"]
  path = .vim/pack/dfranklinau/start/editorconfig-vim
  url = https://github.com/editorconfig/editorconfig-vim
[submodule ".vim/pack/dfranklinau/start/vim-javascript"]
  path = .vim/pack/dfranklinau/start/vim-javascript
  url = https://github.com/pangloss/vim-javascript
[submodule ".vim/pack/dfranklinau/start/ale"]
  path = .vim/pack/dfranklinau/start/ale
  url = https://github.com/w0rp/ale
[submodule ".vim/pack/dfranklinau/start/vim-gitgutter"]
  path = .vim/pack/dfranklinau/start/vim-gitgutter
  url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/pack/dfranklinau/start/emmet-vim"]
  path = .vim/pack/dfranklinau/start/emmet-vim
  url = https://github.com/mattn/emmet-vim
[submodule ".vim/pack/dfranklinau/start/vim-surround"]
	path = .vim/pack/dfranklinau/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/dfranklinau/start/html5.vim"]
	path = .vim/pack/dfranklinau/start/html5.vim
	url = https://github.com/othree/html5.vim
[submodule ".vim/pack/dfranklinau/start/vim-repeat"]
	path = .vim/pack/dfranklinau/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/pack/dfranklinau/start/vim-unimpaired"]
	path = .vim/pack/dfranklinau/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/pack/dfranklinau/start/vim-commentary"]
	path = .vim/pack/dfranklinau/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
