################################################################################
# Windows files
################################################################################

Thumbs.db
ethumbs.db
ethumbs_vista.db
Desktop.ini


################################################################################
# macOS files
################################################################################

*._*
*.DS_Store
.AppleDouble
.LSOverride

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Icon must end with two \r; [^M] is how Vim represents this
Icon[]


################################################################################
# Log files
################################################################################

*.log


################################################################################
# Vim extends
# Ignore a specific directory that I use to install machine-specific plugins.
################################################################################

.vim/pack/local/


################################################################################
# Emacs
################################################################################

.emacs.d/auto-save-list/
.emacs.d/elpa/


################################################################################
# npm
################################################################################
.npmrc
